<!doctype html>
<html>
<head>
  <title>PicturePicker: Who to Pick?</title>
</head>

<body>
 <p>
  <input type="text" name="who" text="type here who to pick">
 </p>
 <p>
  <b>N.B.:</b>This is a very old-school app, with little or no clever ajax
  trickery to make slow things seem like they're fast.  You're about to
  load a bunch of tweets, then load a bunch of pictures, then render a page
  with them all.  You'll have to wait for all of that.
 </p>
 <p>
  Note also that no effort has been made to constrain the size of the images
  shown or screen them for safety.  During development, I tried various things
  but while I could get consistent results, they were consistently boring.
  Leaving this underspecified makes the occasional winning combination of 
  words and picture... really <i>win</i>.
 </p>
</body>
</html>
